/* Cart.css */

/* Styles for the empty cart message */
.empty-cart {
    margin-top: 20px;
    text-align: center;
}
.clickable-image {
    cursor: pointer;
}
/* Styles for the cart items */
.cart-item {
    margin-bottom: 20px;
    padding: 10px;
    background-color: #f5f5f5;
}

.cart-item h3 {
    margin-top: 0;
}

.cart-item img {
    width: 100%;
    max-width: 200px;
    height: auto;
}

.cart-item p {
    font-family: "Comic Sans MS"; /*My fav font */
    margin: 5px 0;
}

.cart-item hr {
    margin-top: 10px;
    margin-bottom: 10px;
}

.total-price {
    font-weight: bold;
    font-size: 18px;
}

/* Responsive styles for different screen sizes */
@media (max-width: 767px) {
    .cart-item .col-md-4,
    .cart-item .col-md-8 {
        flex-basis: 100%;
        max-width: 100%;
    }
}
